@use "../utilities/variables" as*;
@use "../utilities/mixins" as*;
@use "../base/tipografia" as*;

footer {
            background-color: $bg-oscuro;
            padding: 20px 0;
            font-size: 0.9rem;
            color: $color-principal;
                .footer-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                
    }
}