@use "../utilities/variables" as*;
@use "../utilities/mixins" as*;
@use "../base/tipografia" as*;

footer {
  background-color: $bg-oscuro;
  font-size: 0.9rem;
  color: $color-principal;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  .github-logo {
    width: 50px; 
    transition: fill 0.3s ease; 

    &:hover {
      @include enlaces;
      animation: github-bounce 0.6s ease-in-out forwards;
    }
  }
}


