@media (min-width: 768px) {
  .gallery-grid, .historia-miniaturas, 
  .el-hobby-moderno, .evolucion-y-marcas,
  .tecnicas-y-quimica, .tipos-de-impresora3d + section, .tipos-de-impresora3d + section, .niveles-grid {
    grid-template-columns: repeat(2, 1fr); 
    align-items: start;                    
  }
}

@media (min-width: 1100px) {
    .gallery-grid, .historia-miniaturas, 
  .el-hobby-moderno, .evolucion-y-marcas,
  .tecnicas-y-quimica, .tipos-de-impresora3d + section, .niveles-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: start; 
  }
}

