@use "../utilities/variables" as*;
@use "../utilities/mixins" as*;
@use "../base/tipografia" as*;

nav {
  border-radius: 5px;

  &.bg-dark-custom {
    background-color: $bg-oscuro;
  }
  &.navbar {
    height: 116px;
  }

  .navbar-nav {
    display: flex;
    gap: 10px;
  }

  .logo {
    top: 5px;
    left: 0;
    max-height: 100px;
  }
}
