// VARIABLES (Colores y Fuentes)
$color-principal: #ffa500;
$color-secundario: #5050db;
$color-terciario: green;
$color-hover: aliceblue;
$bg-oscuro: #0f0f0f;
$bg-transparente: rgba(0, 0, 0, 0.5);
$bg-accordion-btn: rgba(0, 0, 0, 0.1);
$border-negro: 2px solid #000000;
$border-blanco: 1px solid #ffffff;


$font-titulo: "Cinzel", serif;
$font-cuerpo: "EB Garamond", serif;


