@use "../utilities/variables" as*;
@use "../utilities/mixins" as*;
@use "../base/tipografia" as*;

body {
    background-image: 
        linear-gradient(rgba(148, 146, 146, 0.5), rgba(0, 0, 0, 0.733)),
        url('../assets/img/fondo-principal.png'), 
        linear-gradient(180deg, $color-secundario, $bg-oscuro);
    background-size: cover, contain, cover; 
    background-position: top, top, top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    min-height: 100vh;
    padding: 160px 10px 10px; 
    margin: 0;
}

.hero-content {
    max-width: 800px;        
    margin: 40px auto;
    
    h1 {
        font-size: 3rem;       
        color: $color-principal;
        font-family: $font-titulo;        
    }
    
    p {
        font-size: 1.2rem;
        color: $color-hover;
        margin-bottom: 30px;
    }
}         


.carousel {
    width: 100%;
    max-width: 450px;
    max-height: 450px;
    margin: 20px auto;
    border-radius: 10px;
    h5, p{
      color: $color-principal;
      &:hover {
        border: $border-negro;
        background-color: $bg-transparente;
        animation: github-bounce 0.6s ease-in-out forwards;
      }
    }
}

.gallery-item, .titulo-miniaturas, .historia-miniaturas, .el-hobby-moderno, .evolucion-y-marcas, .tecnicas-y-quimica, .tipos-de-impresora3d, .resina, .filamento, .conclusion, .comparativa {    
    display: inline-block; 
    width: auto;
    box-sizing: border-box; 
    background-color: $bg-accordion-btn;
    color: $color-principal;
    border: $border-negro;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    padding: 24px;
    margin-bottom: 20px;

        &:hover {
        background-color: $bg-transparente;
        color: $color-hover;
        box-shadow: $color-principal 0px 0px 10px;
        transform: translateY(-5px);
        }
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin: 15px 0;
    object-fit: cover;

}

section {
    margin-bottom: 40px;
}


.tipos-de-impresora3d + section img {
  width: 100%;
  max-width: 280px;
  height: 180px;      
  object-fit: contain; 
  
  border-radius: 6px;
  display: block;
  margin: 12px auto;
}


.conclusion {
  text-align: center;
  max-width: 850px; 
  margin: 0 auto 40px auto;
  padding: 0 16px;
  
  h1, h2 {
    justify-content: center;
    margin-bottom: 16px;
  }
  
  p {
    line-height: 1.6;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px; 
  width: 100%;
}

.historia-miniaturas, 
.el-hobby-moderno, .evolucion-y-marcas,
.tecnicas-y-quimica, .tipos-de-impresora3d + section, .tipos-de-impresora3d + section, .niveles-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 32px;                  
  padding: 40px 16px;
  max-width: 1200px;
  margin: 40px auto;
    h2 {
    grid-column: 1 / -1; 
    text-align: center;
    margin-bottom: 16px;
    font-size: 2rem;
    width: 100%;
  }
}


.tipos-de-impresora3d + section {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 32px;                  
  padding: 20px 16px;
  max-width: 1400px;          
  margin: 0 auto;
}

.recomendacion {
    text-align: center;
    h1 {
        color: $color-principal;
        
    }
        p {
            color: $color-hover;
        
        }
}

.niveles-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;                  
  width: 100%;
  max-width: 1300px;
  margin: 40px auto 0 auto;   
}

.efecto-destacado {
  transition: transform 0.3s ease-in-out;
  &:hover {
    @include enlaces;
    animation: latido-rotativo 1.2s ease-in-out infinite;
  }
}
