@use "../utilities/variables" as*;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    h1, h2, h3 {
    color: $color-terciario;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: $font-cuerpo;
         }